<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Movies</h1>
        <p class="lead">Esta es una aplicacion de peliculas.</p>
    </div>
</div>

<div class="container">

    <app-galery [movies]="bilboard | slice:0:6" title="Películas en cartelera"></app-galery>

    <app-galery [movies]="populars | slice:0:6" title="Películas populares"></app-galery>

    <app-galery [movies]="popularsChildren | slice:0:6" title="Películas populares para niños"></app-galery>

</div>
