<div class="container main-container">

    <div class="row m-0 p-0">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar:</label>
                <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Buscar una pelicula" (keyup.enter)="searchMovie()">
            </div>
        </div>
    </div>

    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let movie of movies">
            <!-- TODO: Controlar cuando no tiene imagen con pipe de imagen o con otro pipe -->
            <img [src]="movie | noImage" class="card-img-top img-fluid" [alt]="movie.original_title">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text text-justify">{{ movie.overview | slice:0:250 }}...</p>
                <button class="btn btn-outline-primary btn-block" (click)="showMovie(movie.id)">Ver más...</button>
            </div>
        </div>
    </div>

</div>
