<div *ngIf="loading" class="container">
    <app-loading></app-loading>
</div>

<div *ngIf="movie && !loading"
      class="container main-container animated fadeIn fast">

    <div class="row">

        <div class="col-md-5">
            <img [src]="movie | noImage:true"
                  [alt]="movie.original_title"
                  class="img-thumbnail img-fluid">
        </div>

        <div class="col-md-7">
            <h1>{{ movie.original_title }}</h1>
            <h3>Sinopsis</h3>
            <hr>

            <div class="row">
              <div class="col-md-8">
                <star-rating [value]="movie.vote_average"
                            totalstars="10"
                            checkedcolor="gold"
                            uncheckedcolor="grey"
                            size="14px"
                            readonly="false">
                </star-rating>
              </div>
              <div class="col-md-4">
                <p>Votos promedio: <span class="badge badge-primary">{{ movie.vote_average | number:'1.1' }}</span></p>
              </div>
            </div>

            <p>{{ movie.overview }}</p>

            <h4>Frase celebre</h4>
            <p>{{ movie.tagline }}</p>
            <p>Popularidad: <span class="badge badge-primary">{{ movie.popularity }}</span></p>

            <button class="btn btn-outline-danger"
                    type="button"
                    [routerLink]="['/' + page, search]">
              Regresar
            </button>
        </div>

    </div>

</div>

<div class="container animated fadeIn fast">

  <div class="row">
    <div class="col">

      <ng-container *ngIf="cast">
        <app-cast-slideshow [cast]="cast">
        </app-cast-slideshow>
      </ng-container>

    </div>
  </div>

</div>

